html, body {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: white;
}


nav {
    width: 100%;
    height: 44px;
    top: 0;
    background-color: #db4c3f;
    color:white;
    padding: 0 42px;
    border-bottom: 1px solid transparent;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title {
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}
.nav-settings {
    height: 28px;
    display: flex;
    background-color: #db4c3f;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    outline: none;
    color: white;
    margin-right: 50px;
}
.nav-settings:hover {
    background: hsla(0,0%,100%,.2);
}


.body-layout {
    height: calc(100vh - 44px);
    margin-top: 44px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "main-list add-list"
}
.footer {
    text-align: center;
    font-size: 20px;
    background-color: #db4c3f;
    color: white;
}


.main-list {
    grid-area: main-list;
    padding: 30px 55px 34px;
}
.greeting-container {
    display: flex;
    align-self: center;
}
.bug-elem {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}
.bug-cap {
    width: 100%;
    font-size: 20px;
    line-height: 21px;
    padding: 10px 0;
}


.add-list {
    grid-area: add-list;
    background-color: #fafafa;
    padding-left: 35px;
    padding-top: 30px;
    right: 0;
}
.add-form {
    width: 100%;
}
#b-title, #edit-b-title, #user-name {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 6px;
    margin-bottom: 16px;
    width: 80%;
    padding: 8px;
}
#user-name {
    width: calc(100% - 20px);
}
#b-descript, #edit-b-descript {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 6px;
    margin-bottom: 16px;
    width: 80%;
    padding: 8px;
}
#edit-b-title, #edit-b-descript {
    width: calc(100% - 20px);
}
button:disabled {
    opacity: .3;
    cursor: context-menu;
}
.btn {
    cursor: pointer;
    color: #fff;
    background-color: #db4c3f;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 13px 7px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
    height: 30px;
}

.modal-box {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.1);
}
.modal-settings, .modal-view {
    z-index: 10;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.08);
    padding: 10px 20px 20px;
    margin: 14% 35% auto;
    height: auto;
    width: 400px;
    border-radius: 3px;
}
.modal-title {
    text-align: center;
    font-size: 23px;
}
.modal-menu {
    display: flex;
    justify-content: space-between;
}